<section class="flex gap-x-4 justify-center items-center">
    <div
        class="[&>p]:mb-2 lg:[&>p]:mb-4 [&>p>strong]:text-[#fef08a] [&>p>strong]:font-semibold text-pretty"
    >
        <p>
            Mi nombre completo es Sebastián Gutiérrez Guayacundo. Mi aventura en
            la programación comenzó al descubrir VBA (Visual Basic para
            Aplicaciones) integrado en Excel a los 15 años. Empecé probandono
            macros y <strong
                >terminé desarrollando un software contable básico</strong
            >
            mientras estudiaba "Gestión Contable y Financiera" como tecnólogo en
            el SENA (Servicio Nacional de Aprendizaje).
        </p>
        <p>
            Actualmente, <strong
                >ocupo el cargo de CEO y lidero el desarrollo de Aprende+
                Colombia</strong
            >, una plataforma de cursos virtuales enfocada en áreas como
            Tecnología, Data y Economía. Mi principal meta es <strong
                >establecer una empresa líder en desarrollo con base en Colombia</strong
            > que tenga un vínculo directo con la plataforma anterior.
        </p>
        <p>
            Como creador de contenido, gestiono dos canales en YouTube:
            <strong>DevSebas</strong>, centrado en el universo tecnológico con
            enfasis en programación. Mi segundo canal, <strong
                >Sebastian Gutierrez</strong
            >, comparto experiencias, noticias y consejos sobre economía en
            Colombia y desarrollo personal.
        </p>
    </div>
    <img
        src="/photos/Sebastian.png"
        class="rounded-full size-64 shadow-2xl shadow-yellow-300"
    />
</section>
