<section>
    <article class="relative border-y-2 border-black">
        <button class="group pl-[20px] ml- flex">
            <div
                class="-z-10 absolute left-0 h-full w-[60px] bg-[#e42a0f] group-hover:w-full transition-all duration-1000 ease-in-out"
            >
            </div>
            <div class="py-8">
                <h3
                    class="uppercase text-7xl font-bold group-hover:translate-x-8 duration-1000 ease-in-out transition-transform"
                >
                    Pricewaterhousecoopers
                </h3>
                <h4
                    class="uppercase text-2xl text-left group-hover:translate-x-8 duration-1000 ease-in-out transition-transform"
                >
                    Empresa
                </h4>
            </div>
        </button>
    </article>
</section>
