---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
    {
        date:'Actualmente...',
        company: 'Aprende+',
        position:'CEO',
        title:'Empresa Certificadora + Plataforma de Cursos Virtuales',
        description: 'Explora nuestra plataforma educativa en línea colombiana, donde descubrirás cursos especializados en áreas como Programación, Herramientas Digitales, Análisis de Datos, Consultoría, Auditoría, Tributaria, Contabilidad y más. Nuestros nichos principales abarcan Tecnología, Data y Economía para ofrecerte una experiencia educativa integral.',
        link: '#',
    },
    {
        date:'Actualmente...',
        company: 'Youtube',
        position:'Contenido',
        title:'Contenido Educativo y Experiencias Personales',
        description: 'Administro dos canales: uno educativo centrado en tecnología, con énfasis en programación (DevSebas), y otro donde comparto experiencias, noticias, actualizaciones y consejos sobre economía Colombiana y desarrollo personal (Sebastián Gutiérrez). Con esto y mucho más mi objetivo es crear un entorno educativo enriquecedor.',
        link: 'https://linktr.ee/soyysebas',
        
    },
    {
        date:'Actualmente...',
        company: 'PwC',
        position:'Auditor en Formación',
        title:'PriceWaterHouseCoopers: Auditoría, Consultoría y Asesoría Legal y Tributaria',
        description: 'Me encuentro en prácticas con un contrato de aprendizaje hasta el 20 de diciembre de 2024. Mi objetivo es consolidar mi posición en la empresa mediante un contrato indefinido, gracias a mi dedicación y habilidades. Estoy comprometido a aportar lo mejor de mí.',
        link: 'https://www.pwc.com/co/es/',
    },
]
---


<ol class="relative mt-16">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

