<footer class="shadow bg-black/20 backdrop-blur-lg">
    <div class="w-full max-w-screen-xl mx-auto py-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://soyysebas.com/" class="flex justify-center items-center -mb-1 sm:-mb-4 rtl:space-x-reverse -ml-5">
                <img src="/photos/sinfondo.png" class="size-16" alt="Sebastián Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sebastián Gutiérrez</span>
            </a>
            <ul class="flex flex-wrap items-center justify-center mb-6 text-sm font-medium dark:text-gray-400 sm:mb-0 sm:justify-end">
                <li>
                    <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
                </li>
                <li>
                    <a href="#contacto" class="hover:underline me-4 md:me-6">Contacto</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/sebastian-gutierrez-guayacundo-43b165288" class="hover:underline me-4 md:me-6" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                </li>
                <li>
                    <a href="#" class="hover:underline target="_blank" rel="noopener noreferrer"">Blog</a>
                </li>
            </ul>
        </div>
        <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
        <span class="block text-sm text-center text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">SoyySebas™</a>. Todos los derechos reservados.</span>
    </div>
</footer>
