---
const navItems = [
  {
    title: "Sobre mí",
    url: "/#sobre-mi",
  },
  {
    title: "Academia",
    url: "/",
    descr: "¡Próximamente!",
  },
  {
    title: "Experiencia",
    url: "/#experiencia",
    descr: "¡Próximamente!",
  },
  {
    title: "Proyectos",
    url: "/#proyectos",
    descr: "¡Próximamente!",
  },
  {
    title: "Blog",
    url: "/blog",
    descr: "¡Próximamente!",
  },
];
---

<header class="w-full overflow-hidden z-[99999] py-6 px-6 2xl:px-20 border-b">
  <div
    class="flex flex-wrap items-center justify-between lg:max-w-screen-3xl mx-auto"
  >
    <div class="flex items-center gap-2.5 lg:flex-grow justify-start">
      <a
        href=""
        class="flex items-center gap-2.5 font-bold transition-transform duration-300 hover:scale-110"
      >
        <h1 class="text-black text-xl">soyysebas</h1>
        <span
          class="text-[10px] opacity-80 uppercase font-semibold py-0.5 px-1.5 rounded-md bg-[#fd1100] text-white leading-none"
          >BETA</span
        >
      </a>
    </div>
    <!-- Botón Toggle para menú móvil -->
    <div class="flex lg:hidden justify-end text-black">
      <button id="menu-toggle" class="focus:outline-none">
        <svg
          class="w-8 h-8"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      <script src="/src/scripts/Toggle.js"></script>
    </div>
    <nav
      id="menu"
      class="flex-col w-full hidden lg:w-auto lg:flex lg:flex-row lg:items-center lg:gap-x-10 xl:gap-x-16 mt-4 lg:mt-0"
    >
      {
        navItems.map((link) => (
          <a
            class="text-black w-full py-4 lg:pt-0 lg:pb-0 text-center flex lg:w-auto lg:block transition-transform duration-300 hover:bg-gray-200 lg:hover:scale-110 lg:hover:font-bold"
            href={link.url}
          >
            {link.title}
            <div class="text-xs text-[#fd1100] font-bold">{link.descr}</div>
          </a>
        ))
      }
      <div class="flex mt-2 mb-2 lg:hidden">
        <button>
          <span
            class="py-2.5 px-4 justify-center w-full rounded-[10px] font-bold border flex items-center hover:scale-105 transition-transform duration-300 shadow-md bg-[#fd1100] text-white border-white text-lg leading-none"
            >Contactame</span
          >
        </button>
      </div>
    </nav>
    <div class="hidden lg:flex lg:flex-grow items-center justify-end">
      <button>
        <span
          class="py-2.5 px-4 justify-center rounded-[10px] font-bold border flex items-center hover:scale-105 transition-transform duration-300 shadow-md bg-[#fd1100] text-white border-white text-lg leading-none"
          >Contactame</span
        >
      </button>
    </div>
  </div>
</header>
