<header class="fixed top-0 left-0 right-0 flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto z-10 backdrop-filter backdrop-blur-lg bg-opacity-70">

    <nav class="flex flex-wrap item-center gap-x-4 md:gap-x-20 opacity-80">
        <a class="font-bold" href="#experiencia">Experiencia</a>
        <a class="font-bold" href="#proyectos">Proyectos</a>
        <a class="font-bold" href="#sobre-mi">Sobre mí</a>
        <a class="font-bold" href="#contacto">Contacto</a>
    </nav>
</header>