---
const navItems = [
  {
    title: "Inicio",
    url: "/#top",
  },
  {
    title: "Sobre mí",
    url: "/#sobremi",
  },
  {
    title: "Experiencia",
    url: "/#experiencia",
    descr: "Próximamente",
  },
  {
    title: "Proyectos",
    url: "/#proyectos",
    descr: "Próximamente",
  },
  {
    title: "Blog",
    url: "/#contacto",
    descr: "Próximamente",
  },
  {
    title: "Contacto",
    url: "/blog",
    descr: "Próximamente",
  },
];
---

<header
  class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center h-16 px-2 sm:px-10 md:px-20 bg-white border-b-[4px] border-b-[#e42a0f]"
>
  <a
    href="https://soyysebas.com/"
    class="flex justify-center items-center gap-2"
  >
    <h1 class="text-black text-xl">
      <strong class="text-[#e42a0f]">Soy</strong>Sebas
    </h1>
  </a>

  <nav class="hidden xl:flex justify-between items-center text-center space-x-20">
    {
      navItems.map((link) => (
        <a
          class="text-black hover:text-[#e42a0f] hover:font-bold"
          href={link.url}
        >
          {link.title}
          <div class="text-xs text-red-800 font-bold">{link.descr}</div>
        </a>
      ))
    }
  </nav>
  <div>Toggle</div>
</header>
