---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Inicio",
    url: "/#top",
  },
  {
    title: "Experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    url: "/#contacto",
  },
];
---

<header
  class="fixed z-10 flex items-center justify-center w-full mx-auto mt-4"
>
  <nav
    class="border border-black dark:border-white/30 rounded-full
    px-2 py-2
    flex flex-row items-center
    bg-neutral-200 opacity-80 dark:bg-[#340024] dark:opacity-80"
  >
    {
      navItems.map((link) => (
        <a
          class="rounded-full px-2 sm:px-3 transition text-xs sm:text-sm"
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script src="../scripts/seguimiento.ts"></script>
