---
import Maletin from "@/components/icons/Maletin.astro";
import Youtube from "@/components/icons/Youtube.astro";
import Book from "@/components/icons/Book.astro";
import Aim from "@/components/icons/Aim.astro";
---

<section id="sobre-mi" class="py-10 bg-gray-100">
    <div class="mx-auto max-w-7xl px-4">
        <h2
            class="text-3xl lg:text-4xl text-center font-bold tracking-wide text-black mb-10"
        >
            Sobre mí
        </h2>

        <article class="grid md:grid-cols-2 gap-8">
            <div
                class="flex flex-wrap border rounded-xl shadow-xl bg-white sm:hover:scale-105"
            >
                <div class="mt-6 mx-6">
                    <div class="flex flex-nowrap">
                        <Book class="my-auto mr-2 size-7" />
                        <h3 class="text-2xl font-bold">
                            Educación y Experiencia
                        </h3>
                    </div>
                    <p class="mt-8 mb-4">
                        Mi nombre completo es <strong
                            >Sebastián Gutierrez Guayacundo</strong
                        >. Mi aventura en la tecnología comenzó en el <a
                            href="https://www.colegiohernandoduran.edu.co/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-blue-600 hover:underline">colegio</a
                        > cuando descubrí VBA en Excel a los 15 años.
                    </p>
                    <p class="mb-4">
                        Desarrollé un software contable básico mientras
                        estudiaba "Contabilización de Operaciones Comerciales y
                        Financieras" como técnico en el <a
                            href="https://www.sena.edu.co/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-blue-600 hover:underline">SENA</a
                        >.
                    </p>
                    <p class="mb-4">
                        Actualmente, estudio Contabilidad Pública y trabajo en <a
                            href="https://www.pwc.com/co/es/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-blue-600 hover:underline"
                            >PricewaterhouseCoopers</a
                        >.
                    </p>
                </div>
                <div
                    class="border mb-6 mx-6 rounded-xl bg-gray-800 text-gray-100"
                >
                    <div class="my-6 mx-6">
                        <div class="flex flex-nowrap">
                            <Aim class="my-auto mr-2 size-7" />
                            <h3 class="text-xl font-bold">Mis Objetivos</h3>
                        </div>
                        <p class="mt-3">
                            Aspiro a <strong>crear y liderar múltiples empresas</strong> que generen
                            impacto en diversas industrias, combinando mi pasión por
                            la tecnología, la economía y el desarrollo personal.
                            <a href="/" target="_blank" rel="noopener noreferrer" class="text-blue-400 hover:underline">Saber más...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div
                    class="flex flex-wrap border rounded-xl bg-white shadow-lg sm:hover:scale-105"
                >
                    <div class="my-6 mx-6">
                        <div class="flex flex-nowrap">
                            <Maletin class="my-auto mr-2" />
                            <h3 class="text-2xl font-bold">Emprendimiento</h3>
                        </div>
                        <p class="mt-10 mb-4">
                            Soy CEO y lidero el desarrollo de <strong
                                >Zeit</strong
                            >, una plataforma de aprendizaje enfocada en
                            Tecnología, Data y Economía.
                        </p>
                        <p class="mb-4">
                            Mi visión a largo plazo es consolidar una empresa
                            líder en desarrollo con sede en Colombia, vinculada
                            a esta plataforma, y expandir mi trayectoria como
                            emprendedor.
                            <a href="/" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">Saber más...</a>
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-wrap border rounded-xl mt-8 bg-white shadow-xl sm:hover:scale-105"
                >
                    <div class="my-6 mx-6">
                        <div class="flex flex-nowrap">
                            <Youtube class="my-auto mr-2 size-6" />
                            <h3 class="text-2xl font-bold">
                                Creación de Contenido
                            </h3>
                        </div>
                        <p class="mt-10">Gestiono dos canales en YouTube:</p>
                        <ul class="list-inside mt-2">
                            <li>
                                <a
                                    href="https://www.youtube.com/@Sebastian-Gutierrez"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-blue-600 hover:underline"
                                    >DevSebas</a
                                >: centrado en el universo tecnológico.
                            </li>
                            <li>
                                <a
                                    href="https://www.youtube.com/@Sebastian.Gutierrez/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-blue-600 hover:underline"
                                    >Sebastián Gutiérrez</a
                                >: donde comparto experiencias, noticias y
                                consejos sobre economía en Colombia y desarrollo
                                personal.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
