---
const features = [
    {
        image: "",
        name: "Colegio - Hernando Duran Dussan",
        description:
            "Cada colección es cuidadosamente diseñada para reflejar la diversidad y singularidad de nuestros clientes. Desde elegantes atuendos de noche hasta ropa casual de diario, nuestras colecciones abrazan la individualidad y la diversidad de estilos.",
    },
    {
        name: "SENA - Servicio Nacional de Aprendizaje",
        description:
            "¿Buscas algo único? Nuestro servicio de personalización te permite crear prendas a medida que reflejen tu estilo personal. Desde ajustes de tamaño hasta detalles de diseño, hacemos que cada prenda sea verdaderamente tuya.",
    },
    {
        name: "PWC - Pricewaterhousecoopers",
        description:
            "Sumérgete en nuestro mundo de moda y descubre inspiración ilimitada y consejos de estilo. Desde guías de tendencias hasta sugerencias de combinaciones de prendas, estamos aquí para ayudarte a expresar tu estilo de manera auténtica y personal.",
    },
    {
        name: "Comunidad de Moda",
        description:
            "Únete a nuestra vibrante comunidad de moda donde puedes compartir tus ideas, inspirarte con otros estilos únicos y conectarte con personas que comparten tu pasión por la moda. Celebra tu individualidad y encuentra tu tribu en Dolcemaro.",
    },
    {
        name: "Calidad y Elegancia",
        description:
            "La calidad es una prioridad. Nos esforzamos por ofrecer prendas de alta calidad con atención al detalle y materiales premium. Cada pieza es una declaración de elegancia y estilo atemporal.",
    },
    {
        name: "Moda Sostenible",
        description:
            "Abrazamos la moda sostenible. Nuestras prendas reflejan nuestro compromiso con el medio ambiente y las comunidades locales. Con nosotros, puedes lucir bien y sentirte bien sabiendo que contribuyes a un mundo mejor.",
    },
];
---

<div class="bg-gray-100 py-12">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <h2
                class="text-base lg:text-xl text-center font-semibold uppercase tracking-wide text-[#e42a0f]"
            >
                Sobre mi
            </h2>
            <p
                class="mt-4 max-w-6xl text-center text-sm lg:text-lg text-gray-600 lg:mx-auto"
            >
                Mi nombre completo es <strong
                    >Sebastián Gutiérrez Guayacundo</strong
                >. Mi aventura en la tecnología, centrada en la programación,
                comenzó en el <a
                    class="text-sky-600 text-decoration-line: underline"
                    href="https://www.colegiohernandoduran.edu.co/"
                    target="_blank"
                    rel="noopener noreferrer">COLEGIO</a
                > cuando descubrí VBA (Visual Basic para Aplicaciones) en Excel a
                los 15 años. Lo que empezó como un experimento con macros se convirtió
                en el <strong>desarrollo de un software contable básico</strong>
                mientras estudiaba "Contabilización de Operaciones Comerciales y
                Financieras" como técnico en el <a
                    class="text-sky-600 text-decoration-line: underline"
                    href="https://www.sena.edu.co/es-co/Paginas/default.aspx"
                    target="_blank"
                    rel="noopener noreferrer">SENA</a
                >.
            </p>
        </div>

        <div class="mt-10"></div>

        <div class="lg:text-center">
            <p
                class="mt-4 max-w-6xl text-center text-sm lg:text-lg text-gray-600 lg:mx-auto"
            >
                Actualmente, estudio Contabilidad Pública y trabajo en <a
                    class="text-sky-600 text-decoration-line: underline"
                    href="https://www.pwc.com/co/es/"
                    target="_blank"
                    rel="noopener noreferrer">Pricewaterhousecoopers</a
                >. Además, <strong
                    >soy CEO y lidero el desarrollo de Zeit</strong
                >, una plataforma de aprendizaje enfocada en áreas como
                Tecnología, Data y Economía. Mi visión a largo plazo es
                consolidar una empresa <strong>líder en desarrollo con sede en Colombia</strong>,
                vinculada a esta plataforma, y expandir mi trayectoria como
                emprendedor. Aspiro a crear y liderar múltiples empresas que
                generen impacto en diversas industrias.
            </p>
        </div>
    </div>
</div>
