---
import LinkButton from "../LinkButton.astro";
---

<button
    class="text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200"
    ,
    ]
>
    <LinkButton>
        <slot />
    </LinkButton>
</button>
